
body {
    margin: 0;
    background-color: burlywood;
}

.Main {
    width: 700px;
    margin: auto;
}

.Content {
    background-color: white;
    padding: 5px;
    border: solid black thin;
}


.Banner {
    width: 100%;
}

.Banner img{
    width: 100%;
    display: block;
}

.Nav {
    background-color: white;
    display: flex;
    border-bottom: solid black thin;
}

.Nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 15px;
    text-decoration: none;
}
.Nav a:hover {
    text-decoration: underline;
}

.Menu {
    display: flex;
    justify-content: space-around;
    background-color: white;
    height: 250px;
}

.Product {
    width: 200px;
    height: fit-content;
    margin: 2%;
    border: groove black thin;
    transition: 0.5s;
    box-sizing: border-box;
}
.Detail {
    padding: 5px;
}
.Product h2 {
    margin: 0;
}
.Product h5 {
    margin: 0;
}
.Thumb {
    width: 100%;
    height: 125px;
}

.Product img {
    width: 100%;
    height: 100%;
}
.Button {
    position: absolute;
    background-color: lightgreen;
    width: 145px;
    border: groove black thin;
    box-sizing: border-box;
    display: none;
}
.Button h3 {
    margin: 0;
    padding: 4px;
}

.Product:hover .Button {
    display: block;
}